* {
    box-sizing: border-box;
  }

.bigcontainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
}



h1 {
    color: rgb(25, 23, 39);
    display: flex;
    justify-content: center;
}

.scontainer {
    display: flex;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}

input {
    
}

button {

}



.container {
    display:inline-grid;
}

